* {
	padding: 0px;
	margin: 0px;
	font-family: 'Saira Extra Condensed', sans-serif;
}



header{
	width: 960px; /*Ancho optimizado para pantalla 1024px*/
	height: 90px;
	margin-left: auto;
	margin-right: auto;
	/*position: fixed; header fija*/
}


#barraSuperior {
	width: 560px;
	height: 30px;
	background-color: rgba(52, 73, 94,0.8);
	float:right;
}

#navegacionSuperiorDerecha{
	width: 200px;
	height: 30px;
	background-color: rgba(7, 188, 131, .5);
	float:right;
}

#navegacionSuperiorDerecha ul li{
	display: inline;
	list-style-type: none;
	padding-left: 5px;

}

#navegacionSuperiorDerecha ul li img {
	margin-top: 5px;
}

#navegacionSuperiorDerecha ul li a{
	margin-left: 5px;
	text-decoration: none;
	color:#fff;
}

#navegacionSuperiorDerecha ul li a:hover{
	margin-left: 5px;
	text-decoration: none;
	color:#07BC83;
}


#logoSuperior{
	width: 400px;
	height: 90px;
	background-color: rgba(52, 73, 94,0.8);
	float:left;
}

#logoSuperior img{
	margin-left: 100px;
	margin-top: 10px;
	width: 50%;
	float:left;
}

#barraNavegacionPrincipal{
	width: 560px;
	height: 60px;
	background-color: rgba(52, 73, 94,0.8);
    position: relative;
    float: left;
}



#barraNavegacionPrincipal ul {
	position: relative; 
    -webkit-background-size: 50% 100%; 
    -moz-background-size: 50% 100%; 
    -o-background-size: 50% 100%; 
    margin-top: 20px;
    margin-left: 100px;
}

#barraNavegacionPrincipal li {
	list-style: none;
    display: inline-block;
    width: 100px;
    position: relative;
}



#barraNavegacionPrincipal li a{
    -webkit-transition: all 0.5s ease-out; 
    -moz-transition: all 0.5s ease-out; 
    -o-transition: all 0.5s ease-out; 
    background: rgba(7, 188, 131, .5);
     color: #fff; 
     position: relative;
     padding: 3px 7px 3px 7px; 
     width: 80px; 
     display: block; 
     text-decoration: none; 
     -webkit-box-shadow: 2px 2px 4px #0e169b; 
     -moz-box-shadow: 2px 2px 4px #0e169b; 
     box-shadow: 2px 2px 4px #0e169b; 
     text-align: center;
     -webkit-border-radius: 5px; 
   -moz-border-radius: 5px; 
   border-radius: 5px; 
 }

#barraNavegacionPrincipal li a:hover {
    background: #3498db; 
    color: #fff; 
    padding: 5px 10px 5px 10px;
     text-align: center;
     -webkit-border-radius: 5px; 
   -moz-border-radius: 5px; 
   border-radius: 5px; 
}


#contenidoPrincipalInicio{
	width: 960px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	background-color: rgba(236, 240, 241,0.8);
}

#contenidoPrincipalInstitucional{
	width: 960px;
	height:1600px;
	margin-left: auto;
	margin-right: auto;
	background-color: rgba(236, 240, 241,0.8);
}

#contenidoPrincipalNovedades{
	width: 960px;
	height: 1500px;
	margin-left: auto;
	margin-right: auto;
	background-color: rgba(236, 240, 241,0.8);
}


#contenidoPrincipalContacto{
	width: 960px;
	height: 600px;
	margin-left: auto;
	margin-right: auto;
	background-color: rgba(236, 240, 241,0.8);
}



#imagenPrincipal{
	width: 960px;
	height: 400px;
	float:left;
	background-image: url("../img/imagenInicio.jpg");
	background-size: 100%;
}




#servicios{
	width: 960px;
	height: 400px;
	background-color: rgba(236, 240, 241,0.8);
	float:left;
}


#servicios p{
	text-align: center;
	font-size: 18px;
}

#servicio1{
	width: 180px;
	height: 280px;
	float:left;
	margin-left: 48px;
	margin-top: 60px;
}

#servicio1:hover{
	width: 180px;
	height: 280px;
	float:left;
	margin-left: 48px;
	margin-top: 60px;
	position: relative;
     padding-bottom: 5px; 
	 -webkit-transition: all 0.5s ease-out; 
    -moz-transition: all 0.5s ease-out; 
    -o-transition: all 0.5s ease-out; 
    -moz-transform: translate(0px, -10px);
}



#imgServ1 {
	width: 180px;
	height: 180px;
	box-sizing: border-box;
	padding: 40px;
	float:left;
	background-color: #07BC83;
	box-shadow: 5px 10px 7px rgba(0,0,0,0.5);

}


#imgServ1:hover {
	width: 180px;
	height: 180px;
	float:left;
	background-color: rgba(7,188,131,.7);
	box-shadow: 5px 10px 7px rgba(0,0,0,0.5);


}

#descripcion1{
	width: 180px;
	height: 100px;
	float:left;
	margin-bottom: 35px;
	box-shadow: 5px 10px 7px rgba(0,0,0,0.5);
	background-color: #fff;
}

#descripcion1 a{
	text-decoration: none;
	margin-left: 100px;
	color:green;
}

#descripcion1 a:hover{
	text-decoration: none;
	margin-left: 100px;
	color:black;
}

#descripcion1 p{
	text-align: center;
	margin-top: 15px;
}



#servicio2{
	width: 180px;
	height: 280px;
	float:left;
	margin-left: 48px;
	margin-top: 60px;
}

#servicio2:hover{
	width: 180px;
	height: 280px;
	float:left;
	margin-left: 48px;
	margin-top: 60px;
	position: relative;
     padding-bottom: 5px; 
	 -webkit-transition: all 0.5s ease-out; 
    -moz-transition: all 0.5s ease-out; 
    -o-transition: all 0.5s ease-out; 
    -moz-transform: translate(0px, -10px);
}


#imgServ2{
	width: 180px;
	height: 180px;
	box-sizing: border-box;
	padding: 40px;
	float:left;
	background-color: #07BC83;
	box-shadow: 5px 10px 7px rgba(0,0,0,0.5);
}


#imgServ2:hover{
	width: 180px;
	height: 180px;
	float:left;
	background-color: rgba(7,188,131,.7);
	box-shadow: 5px 10px 7px rgba(0,0,0,0.5);
}

#descripcion2{
	width: 180px;
	height: 100px;
	float:left;
	background-color:#fff;
	box-shadow: 5px 10px 7px rgba(0,0,0,0.5);
}

#descripcion2 p{
	text-align: center;
	margin-top: 15px;
}

#descripcion2 a{
	text-decoration: none;
	margin-left: 100px;
	color:green;
}

#descripcion2 a:hover{
	text-decoration: none;
	margin-left: 100px;
	color:black;
}


#servicio3{
	width: 180px;
	height: 280px;
	float:left;
	margin-left: 48px;
	margin-top: 60px;
}

#servicio3:hover{
	width: 180px;
	height: 280px;
	float:left;
	margin-left: 48px;
	margin-top: 60px;
	position: relative;
     padding-bottom: 5px; 
	 -webkit-transition: all 0.5s ease-out; 
    -moz-transition: all 0.5s ease-out; 
    -o-transition: all 0.5s ease-out; 
    -moz-transform: translate(0px, -10px);
}

#imgServ3{
	width: 180px;
	height: 180px;
	box-sizing: border-box;
	padding: 40px;
	float:left;
	background-color: #07BC83;
	box-shadow: 5px 10px 7px rgba(0,0,0,0.5);
}

#imgServ3:hover{
	width: 180px;
	height: 180px;;
	float:left;
	background-color: rgba(7,188,131,.7);
	box-shadow: 5px 10px 7px rgba(0,0,0,0.5);
}


#descripcion3{
	width: 180px;
	height: 100px;
	float:left;
	background-color:#fff;
	margin-bottom: 35px;
	box-shadow: 5px 10px 7px rgba(0,0,0,0.5);
}

#descripcion3 p{
	text-align: center;
	margin-top: 15px;
}

#descripcion3 a{
	text-decoration: none;
	margin-left: 100px;
	color:green;
}

#descripcion3 a:hover{
	text-decoration: none;
	margin-left: 100px;
	color:black;
}

#servicio4{
	width: 180px;
	height: 280px;
	float:left;
	margin-left: 48px;
	margin-top: 60px;
}

#servicio4:hover{
	width: 180px;
	height: 280px;
	float:left;
	margin-left: 48px;
	margin-top: 60px;
	position: relative;
     padding-bottom: 5px; 
	 -webkit-transition: all 0.5s ease-out; 
    -moz-transition: all 0.5s ease-out; 
    -o-transition: all 0.5s ease-out; 
    -moz-transform: translate(0px, -10px);
}

#imgServ4{
	width: 180px;
	height: 180px;
	box-sizing: border-box;
	padding: 40px;
	float:left;
	background-color: #07BC83;
	box-shadow: 5px 10px 7px rgba(0,0,0,0.5);
}

#imgServ4:hover{
	width: 180px;
	height: 180px;
	float:left;
	background-color: rgba(7,188,131,.7);

}

#descripcion4{
	width: 180px;
	height: 100px;
	float:left;
	background-color:#fff;
	margin-bottom: 35px;
	box-shadow: 5px 10px 7px rgba(0,0,0,0.5);
}

#descripcion4 p{
	text-align: center;
	margin-top: 15px;
}


#descripcion4 a{
	text-decoration: none;
	margin-left: 100px;
	color:green;
}

#descripcion4 a:hover{
	text-decoration: none;
	margin-left: 100px;
	color:black;
}

												/* Inicio estilos Contacto.html */

#contenidoPrincipalContacto h2 {
	text-align: center;
	font-size: 30px;
	padding-top: 50px;
}

.contenedorFormulario {
	height: 400px;
	width: 500px;
	margin-top: 20px;
	margin-left: 300px;
}

form .nombre, .email{
	margin-top: 10px;
	margin-left: 10px;
	height: 30px;
	width: 193px;
}

form .telefono {
	margin-top: 10px;
	margin-left: 10px;
	height: 30px;
	width: 400px;
}

form .mensaje {
	margin-top: 10px;
	margin-left: 10px;
	height: 200px;
	width: 400px;
}

.btnEnviar {
	height: 50px;
	width: 130px;
	margin-left: 280px;
	margin-top: 10px;
	display: block;
	border-style: solid;
	border-width: 1px;

}

.contenedorFormulario input, textarea{
  font-family : inherit;
  font-size   : 100%;
  color: #2ecc71;
  text-align: top;
}


.contenedorFormulario input:hover, textarea:hover{
  font-family : inherit;
  font-size   : 100%;
  text-align: top;
  color: #e74c3c;
}
		
		/* Fin estilos Contacto.html */


												/* Inicio estilos Institucional.html */
.institucional h1{
	padding: 20px;
	font-size: 24px;
	text-align: center;
	text-decoration: underline;
	color: #d35400;

}

.institucional h2{
	padding: 20px;
	font-size: 24px;
	text-align: center;
	text-decoration: underline;
	color: #d35400;

}



.imagenBorde{
	width: 400px;
	height: 250px;
	margin-top: 20px;
	margin-left: 250px;
	border-image-source: url("../img/borde2.png");
	background: url("../img/img1.jpg") left no-repeat, url("../img/img2.jpg") right no-repeat;
 	border-style: solid;
 	border width: 10px;
 	border-image-slice: 50 ;
 	border-image-width: 10px;
	clear:both;

}

.institucional p{
	font-size: 16px;
	margin-left: 20px;
	margin-right: 20px;
	text-align: justify;
	line-height: 30px;
	float:left;
}


.imagenRedondeada{
		width: 220px;
		height: 220px;
		margin-top: 20px;
		margin-bottom: 20px;
		margin-left: 400px;
		float: left;
}

.imagenRedondeada img{
		border: 1px;
		-moz-border-radius: 200px;
		-webkit-border-radius: 200px;
		padding: 10px;
}											/* Fin estilos Institucional.html */

/* Inicio estilos Novedadades.html */



.contenedorFigura {
	width: 800px;
	height: 400px;
	margin-left: 50px;
	float: left;

}

.contenedorFigura img{
	width: 800px;
	height: 400px;
	float:left;
}


.contenedorFigura figure {
	background-color: black;
	color: #fff;
	text-align: center;
	float:left;
}

.novedades h1{
	margin-left: 150px;
	font-size: 25px;
	color:red;
	margin-top: 15px;
	margin-bottom: 15px;
	float:left;
}

.novedades h2{
	margin-left: 50px;
	color:blue;
	margin-top: 60px;
	float:left;
}

.novedades p{
	font-family: 'Roboto Slab', serif;
	float: left;
	text-align: justify;
	margin-left: 15px;
	margin-right: 15px;
}

.novedades p strong{
	color: #f40707;
}

.contenedorVideo  {
	width: 530px;
	height: 320px;
	margin-top: 30px;
	margin-left: 300px;
	float:left;
}

.contenedorVideo iframe {
	width: 500px;
	height: 300px;
	margin-left: 10px;
	margin-top: 10px;
}

/* Fin Estilos novedades.html*/

footer{
	width: 960px;
	height: 200px;
	margin-left: auto;
	margin-right: auto;
}

#contenidoIzquierdoFooter{
	width: 340px;
	height: 200px;
	background-color: rgba(52, 73, 94,0.8);
	float:left;
}

#logoFooter{
	width: 340px;
	height: 100px;
	margin-left: 50px;
	margin-top: 30px;
	float:left;
}

#logoFooter img{
	width: 80%;
	height: 80%;
}


#eslogan{
	width: 340px;
	height: 50px;
	float:left; 
}

#eslogan p{
	font-size: 12px;
	text-align: center;
	color: #fff;
}

#accesosRapidos{
	width: 250px;
	height: 200px;
	background-color: rgba(52, 73, 94,0.8);
	box-sizing: border-box;
	padding: 5px;
	float:left;
}



#accesosRapidos ul li{
	list-style-image: url("../img/viñeta.png");
	margin-left: 120px;
	margin-top: 10px;
}



#accesosRapidos ul li a{
	text-decoration: none;
	font-size: 15px;
	color: #fff;
}

#accesosRapidos ul li a:hover{
	text-decoration: none;
	font-size: 15px;
	color:#07BC83;
}

#contenidoDerechoFooter{
	width: 370px;
	height: 200px;
	background-color: rgba(52, 73, 94,0.8);
	float:left;

}

#resumenContacto{
	width: 320px;
	height: 70px;
	float:left;
	margin-top: 40px;
	margin-left: 30px;
}

#resumenContacto p{
	font-size: 14px;
	color: #fff;
	text-align: center;
	margin-top: 5px;
}

#redesFooter{
	width: 80px;
	height: 30px;
	float:left;
	margin-left: 150px;
}

#redesFooter ul li{
	list-style-type: none;
	display: inline-block;
	padding-left: 15px;
	margin-top: 15px;
}


#copyright{
	width: 320px;
	height: 20px;
	float:left;
	margin-left: 30px;
	margin-top: 30px;

}

#copyright p{
	color: #fff;
	text-align: center;
	font-size: 12px;
}

/* Comienzo de estilos para resolucones de 600px a 1023px */

@media all and (min-width: 600px) and (max-width: 1023px){


header{
	width: 580px; 
	height: 90px;
}


#barraSuperior {
	width: 580px;
	height: 30px;
}

#navegacionSuperiorDerecha{
	width: 200px;
	height: 30px;
}

#navegacionSuperiorDerecha ul li{
	display: inline;
	list-style-type: none;
	padding-left: 5px;

}

#logoSuperior{
	width: 280px;
	height: 60px;
}


#barraNavegacionPrincipal{
	width: 300px;
	height: 60px;
}



#barraNavegacionPrincipal ul {
    margin-left: 10px;
}

#barraNavegacionPrincipal li {
    width: 90px;
}



#barraNavegacionPrincipal li a{
     width: 60px; 
 }


#contenidoPrincipalInicio{
	width: 580px;
	height: 1024px;
}

#contenidoPrincipalInstitucional{
	width: 580px;
	height: 2100px;
}

#contenidoPrincipalNovedades{
	width: 580px;
	height: 1900px;
}


#contenidoPrincipalContacto{
	width: 580px;
	height: auto;
}



#imagenPrincipal{
	width: 580px;
	height: 290px;
}

#servicios{
	width: 580px;
	height: auto;
	float: none;
}


#servicio1{
	width: 180px;
	height: 280px;
	margin-left: 78px;
}


#servicio1:hover{
	width: 180px;
	height: 280px;
	margin-left: 78px; 
    padding-bottom: 0px;

}


#servicio2{
	width: 180px;
	height: 280px;
	margin-left: 78px;
}


#servicio2:hover{
	width: 180px;
	height: 280px;
	margin-left: 78px; 
    padding-bottom: 0px;

}


#servicio3{
	width: 180px;
	height: 280px;
	margin-left: 78px;
}


#servicio3:hover{
	width: 180px;
	height: 280px;
	margin-left: 78px; 
    padding-bottom: 0px;

}



#servicio4{
	width: 180px;
	height: 280px;
	margin-left: 78px;
}


#servicio4:hover{
	width: 180px;
	height: 280px;
	margin-left: 78px; 
    padding-bottom: 0px;

}

/* Fin pantalla inicio para resolucones de 600px a 1023px */

/* Inicio estilos Contacto.html para resolucones de 600px a 1023px */


.contenedorFormulario {
	margin-left: 50px; 
}

/* Fin estilos Contacto.html para resolucones de 600px a 1023px */


/* Inicio estilos Institucional.html para resolucones de 600px a 1023px */




.imagenBorde{

	margin-top: 30px;
	margin-left: 100px;
}

.institucional p{
	margin-bottom: 10px;
}


.imagenRedondeada{
		margin-left: 200px;
}

/* Fin estilos Institucional.html para resolucones de 600px a 1023px */


/* Inicio estilos Novedadades.html para resolucones de 600px a 1023px */


.contenedorFigura {
	width: 580px;
	height: 400px;
	margin-left: 0px;
}

.novedades h1{
	margin-left: 30px;
	font-size: 20px;
}

.novedades h2{
	margin-left: 50px;
	font-size: 20px;
	text-align: center; 
	margin-bottom: 10px;
}

.contenedorFigura img{
	width: 100%;
	height: 100%;
}


.contenedorVideo  {
	width: 520px;
	height: 320px;
	margin-left: 30px; 
	margin-top: 30px;
}


/* Fin Estilos novedades.html para resolucones de 600px a 1023px */

footer{
	width: 580px;
	height: 250px;
}

#contenidoIzquierdoFooter{
	width: 190px; 
	height: 250px;
}

#logoFooter{
	width: 190px;
	height: 100px; 
	margin-left: 10px; 
	margin-top: 30px;
	float:none;
}



#eslogan{
	width: 180px;
	height: 50px;
	margin-left: 10px;
	float:none;
}


#accesosRapidos{
	width: 180px;
	height: 250px; 
	padding: 0px; 
}

#accesosRapidos ul li{
	margin-left: 70px;
	margin-top: 20px;
}


#contenidoDerechoFooter{
	width: 210px;
	height: 250px;
}

#resumenContacto{
	width: 210px;
	height: 80px;
	float:left;
	margin-top: 40px;
	margin-left: 0px;
}

#redesFooter{
	width: 80px;
	height: 40px;
	margin-left: 70px;
}


#copyright{
	width: 210px;
	height: 20px;
	margin-left: 0px;
	margin-top: 60px;
}

}	/*Fin estilos para resolucones de 600px a 1023px*/

/* Inicio estilos para resoluciones hasta 599px */

@media all and (max-width: 599px){


header{
	width: 90%;
	height: 180px;
}


#barraSuperior {
	width: 100%;
	height: 30px;

}

#navegacionSuperiorDerecha{
	width: 200px;
	height: 30px;
}


#logoSuperior{
	width: 50%;
	height: 150px;
	box-sizing: border-box;
	padding-left: 5px;
}

#logoSuperior img{
	margin-left: 20%;
	margin-top: 35px;
	width: 80%;
	height: 50%;
}

#barraNavegacionPrincipal{
	width: 50%;
	height: 150px;
}



#barraNavegacionPrincipal ul {
	width: 40%;
	height: 130px; 
    margin-top: 15px;
    margin-left: 20%;

}

#barraNavegacionPrincipal li {
	margin-top: 15px;
    display: block;
    width: 100px;
}


#contenidoPrincipalInicio{
	width: 90%;
	height: 950px;
}


#imagenPrincipal{
	width: 100%;
	height: 132px;
	float:left;
	background-size: 100%;
}


#servicios{
	width: 100%;
	height: auto;
}


#servicios p{
	font-size: 12px;
}

#servicio1{
	width: 100px;
	height: 170px;
	margin-left: 35%;
	margin-top: 30px;
}

#servicio1:hover{
	width: 100px; 
	height: 170px;
	margin-left: 35%;
	margin-top: 30px;
}



#imgServ1 {
	width: 100px;
	height: 100px;
	padding: 0px;
}


#imgServ1:hover {
	width: 100px;
	height: 100px;
}

#descripcion1{
	width: 100px;
	height: 70px;
}

#descripcion1 a{
	margin-left: 50px;
}

#descripcion1 a:hover{
	margin-left: 50px;
}

#descripcion1 p{
	margin-top: 5px;
}

#servicio2{
	width: 100px;
	height: 170px;
	margin-left: 35%;
	margin-top: 30px;
}

#servicio2:hover{
	width: 100px; 
	height: 170px;
	margin-left: 35%;
	margin-top: 30px;
}


#imgServ2 {
	width: 100px;
	height: 100px;
	padding: 0px;
}


#imgServ2:hover {
	width: 100px;
	height: 100px;
}

#descripcion2{
	width: 100px;
	height: 70px;
}

#descripcion2 a{
	margin-left: 50px;
}

#descripcion2 a:hover{
	margin-left: 50px;
}

#descripcion2 p{
	margin-top: 5px;
}

#servicio3{
	width: 100px;
	height: 170px;
	margin-left: 35%;
	margin-top: 30px;
}

#servicio3:hover{
	width: 100px; 
	height: 170px;
	margin-left: 35%;
	margin-top: 30px;
}



#imgServ3{
	width: 100px;
	height: 100px;
	padding: 0px;
}


#imgServ3:hover {
	width: 100px;
	height: 100px;
}

#descripcion3{
	width: 100px;
	height: 70px;
}

#descripcion3 a{
	margin-left: 50px;
}

#descripcion3 a:hover{
	margin-left: 50px;
}

#descripcion3 p{
	margin-top: 5px;
}

#servicio4{
	width: 100px;
	height: 170px;
	margin-left: 35%;
	margin-top: 30px;
}

#servicio4:hover{
	width: 100px; 
	height: 170px;
	margin-left: 35%;
	margin-top: 30px;
}



#imgServ4{
	width: 100px;
	height: 100px;
	padding: 0px;
}


#imgServ4:hover {
	width: 100px;
	height: 100px;
}

#descripcion4{
	width: 100px;
	height: 70px;
}

#descripcion4 a{
	margin-left: 50px;
}

#descripcion4 a:hover{
	margin-left: 50px;
}

#descripcion4 p{
	margin-top: 5px;
}

												/* Inicio estilos Contacto.html */

#contenidoPrincipalContacto{
	width: 90%;
	height: 600px;
}

#contenidoPrincipalContacto h2 {
	margin-left: 0px;
	font-size: 20px;
}

.contenedorFormulario {
	width: 100%;
	height: 420px;
	margin-left: 0px;
}

form .nombre, .email{
	width: 90%;
}

form .telefono {
	width: 90%;
}

form .mensaje {
	width: 90%;
}

.btnEnviar {
	margin-left: 90px;
	margin-top: 10px;
}		
		/* Fin estilos Contacto.html */


												/* Inicio estilos Institucional.html */

#contenidoPrincipalInstitucional{
	width: 90%;
	height: 3000px;
}

.imagenBorde{
	width: 80%;
	height: 180px;
	margin-left: 10%;
 	border width: 10px;
 	background-size: 50%;
 }


.imagenRedondeada{
		width: 90%;
		margin-left: 20%;
}

/* Inicio estilos Novedadades.html */

#contenidoPrincipalNovedades{
	width: 90%;
	height: 2350px; 
}

.novedades h1, h2{
	margin-left: 10%;
	margin-right: 5px;
	font-size: 15px;
	text-align: center;
}

.novedades h2 {
	margin-top: 60px;
	margin-left: 10px;
}


.contenedorFigura {
	width: 100%;
	height: 200px;
	margin-left: 0px;

}

.contenedorFigura img{
	width: 100%;
	height: 200px;
}

.contenedorFigura figcaption{
	font-size: 9px;
}


.contenedorVideo  {
	width: 90%;
	margin-left: 10%;
}

.contenedorVideo iframe {
	width: 90%;
}

/* Fin Estilos novedades.html*/

footer{
	width: 90%;
	height:auto;
}

#contenidoIzquierdoFooter{
	width: 100%;
	height: 170px;
}

#logoFooter{
	width: 90%;
	height: 100px;
	margin-left: 15px;
}


#eslogan{
	width: 90%;
	height: 20px;
	margin-top: 10px;
	margin-left: 10px;
	float:left;
}

#accesosRapidos{
	width: 100%;
	height: 200px;
	margin-top: 0px;
}

#accesosRapidos ul li{
	margin-left: 45%; 
	margin-top: 13px;
}

#contenidoDerechoFooter{
	width: 100%;
	height: 220px;
}

#resumenContacto{
	width: 100%;
	height: 100px;
	float:left;
	margin-top: 30px;
	margin-left: 0px;
}


#redesFooter{
	width: 80px;
	height: 50px;
	float:left;
	margin-left: 35%;
	margin-top: 10px;
}


#copyright{
	width: 100%;
	height: 20px;
	float:left;
	margin-left: 0px;
	margin-top: 0px;
}

} /* Fin estilos para resoluciones hasta 599px */