* {
	padding: 0px;
	margin: 0px;
	font-family: 'Saira Extra Condensed', sans-serif;
}



header{
	width: 960px; /*Ancho optimizado para pantalla 1024px*/
	height: 90px;
	margin-left: auto;
	margin-right: auto;
	/*position: fixed; header fija*/
}


#barraSuperior {
	width: 560px;
	height: 30px;
	background-color: rgba(52, 73, 94,0.8);
	float:right;
}

#navegacionSuperiorDerecha{
	width: 200px;
	height: 30px;
	background-color: rgba(7, 188, 131, .5);
	float:right;
}

#navegacionSuperiorDerecha ul li{
	display: inline;
	list-style-type: none;
	padding-left: 5px;

}

#navegacionSuperiorDerecha ul li img {
	margin-top: 5px;
}

#navegacionSuperiorDerecha ul li a{
	margin-left: 5px;
	text-decoration: none;
	color:#fff;
}

#navegacionSuperiorDerecha ul li a:hover{
	margin-left: 5px;
	text-decoration: none;
	color:#07BC83;
}


#logoSuperior{
	width: 400px;
	height: 90px;
	background-color: rgba(52, 73, 94,0.8);
	float:left;
}

#logoSuperior img{
	margin-left: 100px;
	margin-top: 10px;
	width: 50%;
	float:left;
}

#barraNavegacionPrincipal{
	width: 560px;
	height: 60px;
	background-color: rgba(52, 73, 94,0.8);
    position: relative;
    float: left;
}



#barraNavegacionPrincipal ul {
	position: relative; 
    -webkit-background-size: 50% 100%; 
    -moz-background-size: 50% 100%; 
    -o-background-size: 50% 100%; 
    margin-top: 20px;
    margin-left: 100px;
}

#barraNavegacionPrincipal li {
	list-style: none;
    display: inline-block;
    width: 100px;
    position: relative;
}



#barraNavegacionPrincipal li a{
    -webkit-transition: all 0.5s ease-out; 
    -moz-transition: all 0.5s ease-out; 
    -o-transition: all 0.5s ease-out; 
    background: rgba(7, 188, 131, .5);
     color: #fff; 
     position: relative;
     padding: 3px 7px 3px 7px; 
     width: 80px; 
     display: block; 
     text-decoration: none; 
     -webkit-box-shadow: 2px 2px 4px #0e169b; 
     -moz-box-shadow: 2px 2px 4px #0e169b; 
     box-shadow: 2px 2px 4px #0e169b; 
     text-align: center;
     -webkit-border-radius: 5px; 
   -moz-border-radius: 5px; 
   border-radius: 5px; 
 }

#barraNavegacionPrincipal li a:hover {
    background: #3498db; 
    color: #fff; 
    padding: 5px 10px 5px 10px;
     text-align: center;
     -webkit-border-radius: 5px; 
   -moz-border-radius: 5px; 
   border-radius: 5px; 
}


#contenidoPrincipal{
	width: 960px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	background-color: rgba(236, 240, 241,0.8);
}



#imagenPrincipal{
	width: 960px;
	height: 400px;
	float:left;
	background-image: url("../img/imagenInicio.jpg");
	background-size: 100%;
}




#servicios{
	width: 960px;
	height: 400px;
	background-color: rgba(236, 240, 241,0.8);
	float:left;
}

#servicios p{
	text-align: center;
	font-size: 18px;
}

#servicio1{
	width: 180px;
	height: 400px;
	float:left;
	/*background-color: #F2F2F2;*/
	margin-left: 48px;
}


#imgServ1 {
	width: 180px;
	height: 180px;
	float:left;
	margin-top: 60px;
	background-color: #07BC83;
	box-shadow: 5px 10px 7px rgba(0,0,0,0.5);

}

#imgServ1:hover {
	width: 180px;
	height: 180px;
	float:left;
	margin-top: 60px;
	background-color: rgba(7,188,131,.7);
	box-shadow: 5px 10px 7px rgba(0,0,0,0.5);


}

#descripcion1{
	width: 180px;
	height: 80px;
	float:left;
	background-color:#fff;
	margin-bottom: 35px;
	box-shadow: 5px 10px 7px rgba(0,0,0,0.5);
}

#descripcion1 p{
	text-align: center;
	margin-top: 10px;
}



#servicio2{
	width: 180px;
	height: 400px;
	float:left;
	margin-left: 48px;
	/*background-color: #F2F2F2;*/
}


#imgServ2{
	width: 180px;
	height: 180px;
	float:left;
	background-color: #07BC83;
	margin-top: 60px;
	box-shadow: 5px 10px 7px rgba(0,0,0,0.5);
}


#imgServ2:hover{
	width: 180px;
	height: 180px;
	float:left;
	background-color: rgba(7,188,131,.7);
	box-shadow: 5px 10px 7px rgba(0,0,0,0.5);
	margin-top: 60px;
}

#descripcion2{
	width: 180px;
	height: 80px;
	float:left;
	background-color:#fff;
	margin-bottom: 35px;
	box-shadow: 5px 10px 7px rgba(0,0,0,0.5);
}

#descripcion2 p{
	text-align: center;
	margin-top: 10px;
}

#servicio3{
	width: 180px;
	height: 400px;
	float:left;
	margin-left: 48px;
}

#imgServ3{
	width: 180px;
	height: 180px;
	float:left;
	background-color: #07BC83;
	box-shadow: 5px 10px 7px rgba(0,0,0,0.5);
	margin-top: 60px;
}

#imgServ3:hover{
	width: 180px;
	height: 180px;;
	float:left;
	background-color: rgba(7,188,131,.7);
	box-shadow: 5px 10px 7px rgba(0,0,0,0.5);
	margin-top: 60px;
}


#descripcion3{
	width: 180px;
	height: 80px;
	float:left;
	background-color:#fff;
	margin-bottom: 35px;
	box-shadow: 5px 10px 7px rgba(0,0,0,0.5);
}

#descripcion3 p{
	text-align: center;
	margin-top: 10px;
}

#servicio4{
	width: 180px;
	height: 400px;
	float:left;
	margin-left: 48px;
	/*background-color: #F2F2F2;*/
}

#imgServ4{
	width: 180px;
	height: 180px;
	float:left;
	background-color: #07BC83;
	margin-top: 60px;
	box-shadow: 5px 10px 7px rgba(0,0,0,0.5);
}

#imgServ4:hover{
	width: 180px;
	height: 180px;
	float:left;
	background-color: rgba(7,188,131,.7);
	margin-top: 60px;
}

#descripcion4{
	width: 180px;
	height: 80px;
	float:left;
	background-color:#fff;
	margin-bottom: 35px;
	box-shadow: 5px 10px 7px rgba(0,0,0,0.5);
}

#descripcion4 p{
	text-align: center;
	margin-top: 10px;
}

												/* Inicio estilos Contacto.html */


.contenedorFormulario{
	height: 800px;
	width: 500px;
	margin-left: 350px;
	float:left;
}



.contenedorFormulario .nombre, .email {
	height: 30px;
	width: 200px;
	margin-left: 30px;
	margin-top: 30px;
	border-style: solid;
	border-width: 1px;
 }



.contenedorFormulario .telefono {
	height: 30px;
	width: 437px;
	margin-left: 30px;
	margin-top: 10px;
	display: block;
	border-style: solid;
	border-width: 1px;
}

.contenedorFormulario .mensaje {
	height: 200px;
	width: 437px;
	margin-left: 30px;
	margin-top: 10px;
	display: block;
	border-style: solid;
	border-width: 1px;
}



.contenedorFormulario .btnEnviar {
	height: 50px;
	width: 130px;
	margin-left: 300px;
	margin-top: 10px;
	display: block;
	border-style: solid;
	border-width: 1px;

}

.contenedorFormulario input{
  font-family : inherit;
  font-size   : 100%;
  color: #2ecc71;
  text-align: top;
}						
		/* Fin estilos Contacto.html */


												/* Inicio estilos Institucional.html */
.institucional h1{
	padding: 20px;
	font-size: 24px;
	text-align: center;
	text-decoration: underline;
	color: #d35400;

}

.institucional h2{
	padding: 20px;
	font-size: 24px;
	text-align: center;
	text-decoration: underline;
	color: #d35400;

}



.imagenBorde{
	width: 400px;
	height: 250px;
	margin-top: 20px;
	margin-left: 250px;
	border-image-source: url("../img/borde2.png");
	background: url("../img/img1.jpg") left no-repeat, url("../img/img2.jpg") right no-repeat;
 	border-style: solid;
 	border width: 10px;
 	border-image-slice: 50 ;
 	border-image-width: 10px;
	clear:both;

}

.institucional p{
	font-size: 16px;
	margin-left: 20px;
	margin-right: 20px;
	text-align: justify;
	line-height: 30px;
	float:left;
}


.imagenRedondeada{
		width: 400px;
		height: 400px;
		margin-top: 20px;
		margin-bottom: 20px;
		margin-left: 250px;
		float: left;
}

.imagenRedondeada img{
		border: 1px;
		-moz-border-radius: 200px;
		-webkit-border-radius: 200px;
		padding: 10px;
}											/* Fin estilos Institucional.html */

/* Inicio estilos Novedadades.html */

.novedades h1, h2{
	text-align: center;
	padding: 10px;
	margin-bottom: 30px;
	text-decoration: underline;
	font-size: 24px;
	color: #8e44ad;
}

.contenedorFigura {
	float:left;
}

.contenedorFigura img {
	width: 800px;
	height: 400px;
	margin-left: 50px;

}

.contenedorFigura figcaption {
	color: #f1f442;
	font-family: arial;
	font-size: 15px;
	background-color: #000;
	width: 800px;
	height: 50px;
	float: left;
	margin-left: 50px;
	text-align: center;
}

.contenedorFigura p {
	margin-left: 10px;
	margin-top: 5px;
}


.novedades p strong{
	color: #f40707;
}

.novedades p em {
	color:#2a68aa;
}



.novedades p a {
	text-decoration: none;
	color: #2869af;
	margin-top: 20px;
}

.novedades p a:hover{
	text-decoration: none;
	color: #ed507a;
}

 
 .fuente {
	clear:both;
	color: red;
}


.contenedorVideo  {
	width: 400px;
	height: 400px;
	float:left;
	margin-top: 60px;
	margin-bottom: 20px;
	margin-left: 150px;

}

/* Fin Estilos novedades.html*/

footer{
	width: 960px;
	height: 200px;
	margin-left: auto;
	margin-right: auto;
	clear:both;
}

#contenidoIzquierdoFooter{
	width: 340px;
	height: 200px;
	background-color: rgba(52, 73, 94,0.8);
	float:left;
}

#logoFooter{
	width: 340px;
	height: 100px;
	margin-left: 50px;
	margin-top: 30px;
	float:left;
}

#logoFooter img{
	width: 80%;
	height: 80%;
}


#eslogan{
	width: 340px;
	height: 50px;
	float:left; 
}

#eslogan p{
	font-size: 12px;
	text-align: center;
	color: #fff;
}

#accesosRapidos{
	width: 250px;
	height: 200px;
	background-color: rgba(52, 73, 94,0.8);
	box-sizing: border-box;
	padding: 5px;
	float:left;
}



#accesosRapidos ul li{
	list-style-image: url("../img/viñeta.png");
	margin-left: 120px;
	margin-top: 10px;
}



#accesosRapidos ul li a{
	text-decoration: none;
	font-size: 15px;
	color: #fff;
}

#accesosRapidos ul li a:hover{
	text-decoration: none;
	font-size: 15px;
	color:#07BC83;
}

#contenidoDerechoFooter{
	width: 370px;
	height: 200px;
	background-color: rgba(52, 73, 94,0.8);
	float:left;

}

#resumenContacto{
	width: 320px;
	height: 70px;
	float:left;
	margin-top: 40px;
	margin-left: 30px;
}

#resumenContacto p{
	font-size: 14px;
	color: #fff;
	text-align: center;
	margin-top: 5px;
}

#redesFooter{
	width: 80px;
	height: 30px;
	float:left;
	margin-left: 150px;
}

#redesFooter ul li{
	list-style-type: none;
	display: inline-block;
	padding-left: 15px;
	margin-top: 15px;
}


#copyright{
	width: 320px;
	height: 20px;
	float:left;
	margin-left: 30px;
	margin-top: 30px;

}

#copyright p{
	color: #fff;
	text-align: center;
	font-size: 12px;
}